@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;400;600;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow';
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #dde1e9;
}
/* *********** */
/* ENCABEZADO - MENU */
/* *********** */
.contenedor-header {
    width: 100%;
    /*position: fixed;*/
    border-bottom: 1px solid #1f283e;
    background-color: rgba(0,0,0,.7);
    z-index: 99;
    padding: 0 20px;
}

    .contenedor-header header {
        max-width: 1100px;
        margin: auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        color: #fff;
    }

.txtRojo {
    color: #ff1133;
}

.contenedor-header header nav a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 5px;
    text-transform: uppercase;
}

    .contenedor-header header nav a:hover {
        color: #ff1133;
    }

.contenedor-header header .redes a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 5px 8px;
}

    .contenedor-header header .redes a:hover {
        color: #ff1133;
    }

.nav-responsive {
    display: none;
    font-size: 25px;
}
/* *********** */
/* SECCIÓN INICIO */
/* *********** */
.inicio {
    height: 100vh;
    background: linear-gradient(rgba(0, 1, 3, 0.5), rgba(0,0,0,.7)),url('img/fondo.jpg');
    background-image: background-size: cover;
    background-position: center center;
    color: #fff;
    position: relative;
}

    .inicio .contenido-seccion {
        max-width: 1100px;
        margin: auto;
    }

    .inicio .info {
        width: fit-content;
        margin: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }

        .inicio .info h2 {
            font-size: 4rem;
            letter-spacing: 3px;
        }

        .inicio .info p {
            margin: 20px;
            color: #797e8e;
            font-size: 16px;
            letter-spacing: 3px;
            text-transform: uppercase;
        }

        .inicio .info .btn-mas {
            width: 50px;
            margin: auto;
            height: 50px;
            border: 2px solid #ff1133;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            color: #ff1133;
            margin-top: 50px;
            text-decoration: none;
        }

.opciones {
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.inicio .opciones .opcion {
    border-top: 2px solid #797e8e;
    padding: 7px;
    color: #797e8e;
    margin: 0 20px;
}
/* *********** */
/* SECCION NOSOTROS */
/* *********** */
.nosotros {
    max-width: 1100px;
    margin: auto;
    height: 100vh;
    background-color: #dde1e9;
    padding: 100px 20px;
}

    .nosotros .fila {
        display: flex;
        align-items: center;
    }

        .nosotros .fila .col {
            width: 50%;
        }

            .nosotros .fila .col img {
                width: 80%;
                display: block;
                margin: auto;
                margin-bottom: 50px;
            }

            .nosotros .fila .col .contenedor-titulo {
                display: flex;
                align-items: center
            }

                .nosotros .fila .col .contenedor-titulo .numero {
                    color: #ff1133;
                    font-weight: bold;
                    display: block;
                    font-size: 5rem;
                }

                .nosotros .fila .col .contenedor-titulo .info {
                    margin-left: 30px;
                }

                    .nosotros .fila .col .contenedor-titulo .info .frase {
                        color: #ff1133;
                    }

                    .nosotros .fila .col .contenedor-titulo .info h2 {
                        font-size: 3rem;
                    }

            .nosotros .fila .col p {
                margin-bottom: 10px;
                line-height: 28px;
            }

            .nosotros .fila .col .p-especial {
                font-weight: bold;
            }

    .nosotros hr {
        margin-bottom: 30px;
    }

    .nosotros .fila-nosotros {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .nosotros .fila-nosotros .frase {
            font-size: 18px;
            font-weight: 600;
        }

        .nosotros .fila-nosotros h2 {
            font-size: 2.5rem;
        }

        .nosotros .fila-nosotros button {
            background-color: #ff1133;
            border: none;
            color: #fff;
            padding: 15px 35px;
            font-size: 14px;
            letter-spacing: 3px;
            font-weight: bold;
            border-radius: 5px;
            cursor: pointer;
        }
/* ********** */
/* SERVICIOS */
/* ********** */

.servicios {
    color: #fff;
    position: relative;
}

    .servicios .contenido-seccion {
        background: linear-gradient( rgba(0, 14, 41, 0.6), rgba(0, 7, 78, 0.7)),url('img/servicios.png');
        background-image: background-size: cover;
        background-position: center center;
        margin: auto;
        padding: 0 20px;
    }

        .servicios .contenido-seccion .fila {
            max-width: 1100px;
            margin: auto;
            display: flex;
            align-items: center;
            padding: 100px 0;
        }

            .servicios .contenido-seccion .fila .col {
                width: 50%;
            }

                .servicios .contenido-seccion .fila .col img {
                    display: block;
                    width: 50%;
                    margin: auto;
                }

    .servicios .fila .col .contenedor-titulo {
        display: flex;
        align-items: center;
    }

        .servicios .fila .col .contenedor-titulo .numero {
            color: #ff1133;
            font-weight: bold;
            display: block;
            font-size: 5rem;
        }

        .servicios .fila .col .contenedor-titulo .info {
            margin-left: 30px;
        }

            .servicios .fila .col .contenedor-titulo .info .frase {
                color: #ff1133;
            }

            .servicios .fila .col .contenedor-titulo .info h2 {
                font-size: 3rem;
            }

    .servicios .fila .col p {
        margin-bottom: 10px;
        line-height: 28px;
        text-align: justify;
    }

    .servicios .fila .col .p-especial {
        font-weight: bold;
    }

    .servicios .info-servicios {
        max-width: 800px;
        margin: auto;
    }

        .servicios .info-servicios table {
            text-align: center;
            background-color: #fff;
            color: #1f283e;
            border-collapse: collapse;
            position: relative;
            bottom: 100px;
        }

            .servicios .info-servicios table td {
                padding: 30px;
                border: 1px solid #dde1e9
            }

                .servicios .info-servicios table td i {
                    color: #ff1133;
                    font-size: 2.5rem;
                    margin-bottom: 20px;
                }

        .servicios .info-servicios h3 {
            margin-bottom: 20px;
            text-transform: uppercase;
        }

        .servicios .info-servicios p {
            line-height: 30px;
        }

/* *********** */
/* CONTACTO */
/* *********** */
/* Estilos para la sección de contacto */
.contacto {
    background-color: #f5f5f5;
    padding: 40px 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

    .contacto h2 {
        color: #ff1133;
        font-size: 2.5rem;
        letter-spacing: 2px;
        margin-bottom: 20px;
        align-items: center;
    }

    .contacto p {
        color: #666;
        font-size: 1.2rem;
        margin-bottom: 30px;
    }

    .contacto ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .contacto ul li {
            color: #444;
            font-size: 1.4rem;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

            .contacto ul li i {
                margin-right: 10px;
                font-size: 2rem;
                color: #ff1133;
            }

    .contacto iframe {
        border: none;
        width: 100%;
        max-width: 600px; /* Ajusta el ancho máximo del mapa según tus preferencias */
        height: 400px; /* Ajusta la altura del mapa según tus preferencias */
        margin: 0 auto; /* Centra el mapa horizontalmente */
        display: block; /* Asegura que el mapa sea un elemento de bloque */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agrega una sombra al mapa */
        border-radius: 5px; /* Agrega bordes redondeados al mapa */
    }
/* *********** */
/* FOOTER */
/* *********** */
footer {
    background-color: #151623;
    padding: 30px 0;
}

    footer .info {
        display: flex;
        max-width: 1100px;
        margin: auto;
        justify-content: space-between;
        padding: 0 20px;
    }

        footer .info p {
            color: #797e8e;
        }

        footer .info a {
            text-decoration: none;
            color: #797e8e;
            display: inline-block;
            margin: 0 15px;
        }
